<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>呼入记录
        </div>
    </div>
    <div class="portlet-body">
        <form class="form-horizontal" role="form">
            <div class="row">
                <div class="col-md-3" ng-hide="username=='zxr'">
                    <div class="form-group">
                        <label class="col-md-4 control-label">输入分机号:</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="agentoprno" ng-keypress="listenKey($event)" placeholder="输入分机号" >
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-3 control-label">选择时间:</label>
                            <div class="col-md-9">
                                从 <input type="text" uib-datepicker-popup ng-click="open1()" is-open="popup1.opened"  datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-model="starttimein" />
                                <span class="help-inline"></span>
                            </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-md-9">
                            到 <input type="text" uib-datepicker-popup ng-click="open2()" is-open="popup2.opened"  datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-model="endtimein" />
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                <span class="input-group-btn">
                    <button class="btn green" type="button" ng-click="Go()">Go!</button>
                </span>
                        </div>
                    </div>
            </div>
        </form>

        <div class="portlet light bordered" ng-show="lstLog">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">查询结果</span>
                    <audio id="player"  controls preload="auto" autobuffer></audio>
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th> 主叫号码 </th>
                        <th> 开始时间 </th>
                        <th> 接通时间 </th>
                        <th> 结束时间 </th>
                        <th> 分机号码 </th>
                        <th> 录音 </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat=" log in lstLog">
                        <td> {{ log.Caller }}**** </td>
                        <td> {{ log.BeginTime }} </td>
                        <td> {{ log.ConnectTime}} </td>
                        <td> {{ log.EndTime }} </td>
                        <td> {{ log.AgentPhone }} </td>
                        <td>
                            <a ng-if="log.RecordFile !=0 " href="javascript:void(0);" class="btn btn-primary" ng-click="AudioPlay(log.RecordFile,log.AgentOprno)"><i class="fa fa-file-sound-o"></i> 播放</a>
                            <a ng-if="log.RecordFile !=0 " href="http://cc.iprun.com:81/?act=recordYhj&filename={{log.RecordFile}}&oprno={{log.AgentOprno}}" target=_blank class="btn btn-primary"><i class="fa fa-file-sound-o"></i> 下载</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <paging
                class="small"
                page="currentPage"
                page-size="pageSize"
                total="total"
                adjacent="{{adjacent}}"
                dots="{{dots}}"
                scroll-top="{{scrollTop}}"
                hide-if-empty="{{hideIfEmpty}}"
                ul-class="{{ulClass}}"
                active-class="{{activeClass}}"
                disabled-class="{{disabledClass}}"
                show-prev-next="{{showPrevNext}}"
                paging-action="pageAction( page )">
                </paging>
            </div>
        </div>
    </div>
</div>
